
        @import url('//fonts.googleapis.com/css?family=Abel');@import url('//fonts.googleapis.com/css?family=Oswald:400,300');.oswald.text-element,.oswald .text-element{font-family:'Oswald',sans-serif;}.abel.text-element,.abel .text-element{font-family:'Abel',sans-serif;}.links a,a{color:#006CB2;text-decoration:none;}td,tr,th{border:1px solid;}.text-element HEADER,.text-element H1,.text-element H2,.text-element H3,.text-element DIV,.text-element P,.text-element QUOTE{}.very-big{color:#FF3200;}.text-element HEADER{font-size:45px;}.background{}.normal{text-align:justify;}.text-element.very-big *{font-size:50px;line-height:2.5;font-weight:100;}.text-element.special-format .normal{font-size:55px;color:white;font-family:'Oswald',sans-serif;line-height:57px;}.special-format2 .normal{text-transform:uppercase;font-size:74px;line-height:64px;}.special-format2.verybig *{font-size:180px;line-height:180px;}.special-format2 h2,.special-format2 h1,.special-format2 p{margin:0px;}.special-format2 .heading2{letter-spacing:10px;line-height:0;}.special-format2 .heading1{font-size:30px;word-spacing:1px;text-align:left;line-height:30px;}.special-format2 .title{font-size:60px;line-height:54px;word-spacing:1px;}.text-shadow{text-shadow:-1px 2px #FF3200;}.full-width{width:100%;}.centered{margin:auto;position:relative;}.top{z-index:100;}.back{z-index:-1;}.silex-runtime .fixed-menu{position:fixed;z-index:120;}.silex-runtime .discret li,.silex-runtime .discret .heading2{color:black!important;font-size:14px!important;float:left!important;list-style-type:none;margin-left:5px;}.discret H1{color:black!important;font-size:16px!important;}.github-issues{overflow-x:hidden;overflow-y:auto;}.showcase.github-issues{overflow:hidden;}.github-issues ul{position:absolute;}.github-issues .silex-element-content{overflow:hidden;}.github-issues ul{margin:0;padding:0;}.github-issues li{list-style-type:none;margin:0;padding:3px;border-bottom:1px solid #cccccc;font-size:14px;line-height:19px;}.github-issues li a{text-decoration:none;color:black;}.github-issues-image ul{text-align:center;}.github-issues-image li{display:inline;}.github-issues-image img{max-width:45%;border-radius:5px;}.github-issues-image.showcase img{max-width:42%;border-radius:5px;}.github-issues.github-issues-white *{color:white;text-align:center;}.github-issues.github-issues-white li{border-bottom-color:#999999;}.github-issues.github-issues-image li{border-bottom:none;}.share-buttons{list-style:none;}.share-buttons li{display:inline;}.share-buttons a{text-decoration:none;}.poll-bg{position:fixed;top:0!important;left:0!important;width:100%!important;height:100%!important;z-index:100;}.page-poll-opened .background{-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);filter:blur(5px);}.silex-runtime .poll-bg{background-color:transparent;}.poll-center{position:relative;left:-320px!important;margin-left:640px;top:-250px!important;margin-top:500px;}.editable-style.forkme{right:0;top:0;left:auto;z-index:100;position:fixed;}.limit-height{height:500px;}.silex-pages{display:none;}body.enable-mobile{padding-top:0;}.header h1{letter-spacing:12px;font-family:Abel,sans-serif;}.header h2{font-size:3.3em;font-family:'Oswald',sans-serif;color:#ff0;font-weight:200;text-transform:uppercase;text-align:center;letter-spacing:12px;height:115px;line-height:1.3;}.header-slideshow{height:320px;}
    
        .body-initial {
            cursor: auto; 
            left: 0px; 
            top: 0px; 
            background-color: rgb(0, 74, 122); 
            border-top-left-radius: 10px; 
            border-top-right-radius: 0px; 
            border-bottom-right-radius: 10px; 
            border-bottom-left-radius: 0px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            border-color: #000000; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.body-initial {
            background-color: rgba(255,255,255,1); 
        }
        }.silex-id-1427579791827 {
            width: 960px; 
            top: 5px; 
            left: 115px; 
            border-color: #000000; 
            box-shadow: rgba(0, 0, 0, 0.498039) 1px 0px 10px 0px; 
            border-top-left-radius: 0px; 
            border-top-right-radius: 0px; 
            border-bottom-right-radius: 0px; 
            border-bottom-left-radius: 0px; 
            box-sizing: content-box; 
            background-color: rgb(255, 255, 255); 
            min-height: 6280px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579791827 {
            top: 0px; 
            left: 12px; 
            width: 445px; 
            min-height: -1px; 
        }
        }.silex-id-1458672006275-1 {
            min-height: 48px; 
            width: 92px; 
            top: 156px; 
            left: 477px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1458672006275-1 {
            top: 0px; 
            left: 164px; 
            width: 118px; 
            min-height: 67px; 
        }
        }.silex-id-1427579788776 {
            width: 960px; 
            top: 332px; 
            left: 0px; 
            background-image: url('../assets/nuages-01.png'); 
            background-color: transparent; 
            background-size: cover; 
            min-height: 252px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579788776 {
            background-image: url('../assets/nuages-02.png'); 
            background-position: bottom center; 
            min-height: 586px; 
            top: 0px; 
            left: 11px; 
            width: 423px; 
            background-size: contain; 
            background-repeat: no-repeat; 
            background-color: rgba(0,74,122,1); 
        }
        }.silex-id-1458611359360-0 {
            min-height: 212px; 
            width: 960px; 
            top: 67px; 
            left: 0px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1458611359360-0 {
            top: 39px; 
            left: 11px; 
            width: 401px; 
            min-height: 507px; 
        }
        }.silex-id-1458607043374-1 {
            min-height: 91px; 
            width: 940px; 
            top: 17px; 
            left: 10px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1458607043374-1 {
            top: 7px; 
            left: 0px; 
            width: 401px; 
            min-height: 227px; 
        }
        }.silex-id-1458608765361-0 {
            min-height: -1px; 
            width: 940px; 
            top: 53px; 
            left: 10px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1458608765361-0 {
            top: 228px; 
            left: 9px; 
            width: 383px; 
            min-height: 249px; 
        }
        }.silex-id-1427579788472 {
            width: 166px; 
            top: -15px; 
            left: 74px; 
            box-sizing: content-box; 
            background-color: transparent; 
            min-height: 30px; 
        }
        .silex-id-1427579782977 {
            width: 212px; 
            top: 138px; 
            left: 52px; 
            min-height: 85px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579782977 {
            top: 60px; 
            left: 27px; 
            width: 213px; 
            min-height: 85px; 
        }
        }.silex-id-1427579783079 {
            width: 212px; 
            top: 97px; 
            left: 51px; 
            background-color: transparent; 
            min-height: 50px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579783079 {
            top: 95px; 
            left: 9px; 
            width: 470px; 
            min-height: 50px; 
        }
        }.silex-id-1430089351512 {
            width: 960px; 
            top: 2400px; 
            left: 0px; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 1013px; 
            border-color: #000000; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1430089351512 {
            top: 714px; 
            left: 12px; 
            width: 422px; 
            min-height: 1403px; 
        }
        }.silex-id-1427579782059 {
            top: 28px; 
            background-color: transparent; 
            width: 960px; 
            left: 2px; 
            border-top-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            min-height: 124px; 
        }
        .silex-id-1427579781958 {
            width: 960px; 
            top: 129px; 
            left: 0px; 
            background-color: transparent; 
            box-sizing: content-box; 
            min-height: 104px; 
        }
        .silex-id-1458572218532-2 {
            min-height: 383px; 
            width: 930px; 
            top: 296px; 
            left: 13px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1458572218532-2 {
            top: 228px; 
            left: 11px; 
            width: 402px; 
            min-height: 209px; 
        }
        }.silex-id-1427579782467 {
            width: 280px; 
            top: 730px; 
            left: 19px; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 80px; 
            border-color: #000000; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579782467 {
            top: 238px; 
            left: 10px; 
            width: 450px; 
            min-height: 80px; 
        }
        }.silex-id-1427579782262 {
            width: 280px; 
            top: 794px; 
            left: 19px; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 189px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579782262 {
            top: 668px; 
            left: 0px; 
            width: 422px; 
            min-height: 153px; 
        }
        }.silex-id-1427583890283 {
            width: 280px; 
            top: 726px; 
            left: 338px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427583890283 {
            top: 651px; 
            left: 10px; 
            width: 450px; 
            min-height: 80px; 
        }
        }.silex-id-1427583925791 {
            width: 280px; 
            top: 793px; 
            left: 338px; 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            min-height: 226px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427583925791 {
            top: 659px; 
            left: 5px; 
            width: 449px; 
            min-height: 168px; 
        }
        }.silex-id-1427579781636 {
            width: 280px; 
            top: 728px; 
            left: 657px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579781636 {
            top: 571px; 
            left: 10px; 
            width: 450px; 
            min-height: 80px; 
        }
        }.silex-id-1427579782161 {
            width: 280px; 
            top: 792px; 
            left: 656px; 
            background-color: transparent; 
            min-height: 188px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579782161 {
            top: 1144px; 
            left: 10px; 
            width: 449px; 
            min-height: 131px; 
        }
        }.silex-id-1427584588756 {
            width: 920px; 
            left: 20px; 
            background-color: transparent; 
            border-top-width: 1px; 
            border-bottom-width: 0px; 
            border-top-style: solid; 
            border-bottom-style: solid; 
            top: 241px; 
            border-top-color: rgb(0, 155, 255); 
            border-right-color: rgb(0, 155, 255); 
            border-bottom-color: rgb(0, 155, 255); 
            border-left-color: rgb(0, 155, 255); 
            min-height: 10px; 
        }
        .silex-id-1427579782875 {
            width: 176px; 
            top: 205px; 
            left: 69px; 
            border-top-width: 0px; 
            border-bottom-width: 1px; 
            border-top-style: solid; 
            border-bottom-style: solid; 
            background-color: transparent; 
            min-height: 106px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579782875 {
            top: 445px; 
            left: 46px; 
            width: 180px; 
            min-height: 69px; 
        }
        }.silex-id-1447869756486-0 {
            width: 140px; 
            top: 265px; 
            left: 97px; 
            background-color: transparent; 
            min-height: 41px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1447869756486-0 {
            top: 159px; 
            left: 302px; 
            width: 143px; 
            min-height: 41px; 
        }
        }.silex-id-1427579789590 {
            left: 0px; 
            top: -15px; 
            box-shadow: black 0px 1px 3px; 
            background-color: rgb(0, 155, 255); 
            min-height: 42px; 
        }
        .silex-id-1427579789488 {
            top: 6px; 
            width: 926px; 
            left: 16px; 
            background-color: transparent; 
            min-height: 45px; 
        }
        .silex-id-1427579789386 {
            width: 140px; 
            top: 0px; 
            left: -23px; 
            background-color: transparent; 
            min-height: 20px; 
        }
        .silex-id-1427579789284 {
            width: 140px; 
            left: 127px; 
            top: 0px; 
            background-color: transparent; 
            min-height: 20px; 
        }
        .silex-id-1427579789182 {
            width: 163px; 
            left: 748px; 
            background-color: transparent; 
            top: 15px; 
            min-height: 34px; 
        }
        .silex-id-1427579789081 {
            width: 159px; 
            top: 0px; 
            left: 278px; 
            background-color: transparent; 
            min-height: 20px; 
        }
        .silex-id-1427579788979 {
            width: 140px; 
            left: 445px; 
            top: 0px; 
            position: relative; 
            background-color: transparent; 
            min-height: 20px; 
        }
        .silex-id-1427579788878 {
            width: 140px; 
            left: 596px; 
            top: 0px; 
            background-color: transparent; 
            min-height: 20px; 
        }
        .silex-id-1427579782773 {
            width: 590px; 
            top: 50px; 
            left: 320px; 
            box-sizing: content-box; 
            z-index: -1; 
            min-height: 390px; 
        }
        .silex-id-1430772078598 {
            width: 370px; 
            top: 4230px; 
            left: 569px; 
            background-color: rgb(0, 60, 100); 
            border-top-left-radius: 0px; 
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 0px; 
            border-bottom-left-radius: 10px; 
            min-height: 592px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1430772078598 {
            top: 8723px; 
            left: 10px; 
            width: 471px; 
            min-height: 592px; 
        }
        }.silex-id-1427579784200 {
            width: 340px; 
            top: 17px; 
            left: 15px; 
            background-color: transparent; 
            min-height: 70px; 
        }
        .silex-id-1427579784301 {
            width: 319px; 
            top: 97px; 
            left: 36px; 
            background-color: transparent; 
            min-height: 483px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579784301 {
            top: 15px; 
            left: 10px; 
            width: 450px; 
            min-height: 483px; 
        }
        }.silex-id-1427579790403 {
            width: 960px; 
            top: 1309px; 
            left: 0px; 
            box-sizing: content-box; 
            background-color: rgb(0, 155, 255); 
            min-height: 1119px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579790403 {
            top: 218px; 
            left: 10px; 
            width: 469px; 
            min-height: 2378px; 
        }
        }.silex-id-1427579789998 {
            width: 960px; 
            top: -3px; 
            left: 0px; 
            background-color: transparent; 
            box-sizing: content-box; 
            min-height: 69px; 
        }
        .silex-id-1427604618762 {
            width: 960px; 
            top: 79px; 
            left: 0px; 
            background-color: transparent; 
            min-height: 1020px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427604618762 {
            top: 505px; 
            left: 10px; 
            width: 449px; 
            min-height: 489px; 
        }
        }.silex-id-1458575539616-3 {
            min-height: 468px; 
            width: 960px; 
            top: 569px; 
            left: 0px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1458575539616-3 {
            top: 2190px; 
            left: 12px; 
            width: 422px; 
            min-height: 838px; 
        }
        }.silex-id-1456341206871-2 {
            top: 16px; 
            background-color: transparent; 
            width: 960px; 
            left: 0px; 
            border-top-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            min-height: 125px; 
        }
        .silex-id-1456341444370-3 {
            width: 450px; 
            top: 170px; 
            left: 493px; 
            border-top-width: 5px; 
            border-right-width: 5px; 
            border-bottom-width: 5px; 
            border-left-width: 5px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            opacity: 1; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 270px; 
            border-width: 0 0 0 0 ; 
            border-style: solid; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1456341444370-3 {
            border-width: 5px 5px 5px 5px ; 
            border-style: solid; 
            top: 135px; 
            left: 65px; 
        }
        }.silex-id-1454371417474-4 {
            width: 506px; 
            top: 125px; 
            left: -10px; 
            background-color: transparent; 
            box-sizing: content-box; 
            min-height: 330px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1454371417474-4 {
            top: 495px; 
            left: 18px; 
            width: 468px; 
            min-height: 359px; 
        }
        }.silex-id-1427579784606 {
            width: 960px; 
            top: 4211px; 
            left: 0px; 
            background-color: rgb(0, 155, 255); 
            min-height: 643px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579784606 {
            top: 2851px; 
            left: 12px; 
            width: 422px; 
            min-height: 723px; 
        }
        }.silex-id-1427579784504 {
            width: 510px; 
            top: 16px; 
            left: 40px; 
            background-color: transparent; 
            min-height: 96px; 
        }
        .silex-id-1427579784402 {
            width: 510px; 
            top: 117px; 
            left: 40px; 
            background-color: transparent; 
            min-height: 495px; 
        }
        .silex-id-1427587769948 {
            width: 960px; 
            top: 3409px; 
            left: 0px; 
            background-color: transparent; 
            min-height: 788px; 
            border-color: #000000; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427587769948 {
            top: 3610px; 
            left: 12px; 
            width: 422px; 
            min-height: 1810px; 
        }
        }.silex-id-1427579783894 {
            top: 54px; 
            background-color: transparent; 
            width: 960px; 
            left: 2px; 
            border-top-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            min-height: 124px; 
            border-color: #000000; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579783894 {
            top: 15px; 
            left: 0px; 
            width: 422px; 
            min-height: 248px; 
        }
        }.silex-id-1427579783793 {
            width: 960px; 
            top: 169px; 
            left: 0px; 
            background-color: transparent; 
            min-height: 120px; 
        }
        .silex-id-1427579791726 {
            width: 277px; 
            top: 321px; 
            left: 20px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579791726 {
            border-color: #000000; 
            top: 366px; 
            left: 10px; 
            width: 449px; 
            min-height: 50px; 
        }
        }.silex-id-1427579791421 {
            width: 277px; 
            top: 373px; 
            left: 20px; 
            background-color: transparent; 
            min-height: 176px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579791421 {
            top: 425px; 
            left: 9px; 
            width: 404px; 
            min-height: 152px; 
        }
        }.silex-id-1427579791624 {
            width: 277px; 
            top: 321px; 
            left: 340px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579791624 {
            top: 434px; 
            left: 10px; 
            width: 449px; 
            min-height: 50px; 
        }
        }.silex-id-1427579783385 {
            width: 277px; 
            top: 371px; 
            left: 340px; 
            background-color: transparent; 
            min-height: 148px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579783385 {
            top: 1308px; 
            left: 10px; 
            width: 449px; 
            min-height: 56px; 
        }
        }.silex-id-1427579783283 {
            width: 277px; 
            top: 319px; 
            left: 658px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579783283 {
            top: 1382px; 
            left: 10px; 
            width: 449px; 
            min-height: 50px; 
        }
        }.silex-id-1427579787864 {
            width: 277px; 
            top: 370px; 
            left: 657px; 
            background-color: transparent; 
            min-height: 203px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579787864 {
            top: 933px; 
            left: 10px; 
            width: 449px; 
            min-height: 135px; 
        }
        }.silex-id-1427579791522 {
            width: 277px; 
            top: 569px; 
            left: 20px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579791522 {
            top: 502px; 
            left: 10px; 
            width: 449px; 
            min-height: 50px; 
        }
        }.silex-id-1427579787762 {
            width: 277px; 
            top: 613px; 
            left: 20px; 
            background-color: transparent; 
            min-height: 161px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579787762 {
            top: 1086px; 
            left: 10px; 
            width: 449px; 
            min-height: 93px; 
        }
        }.silex-id-1427579791319 {
            width: 277px; 
            top: 569px; 
            left: 340px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579791319 {
            top: 723px; 
            left: 10px; 
            width: 449px; 
            min-height: 50px; 
        }
        }.silex-id-1427579791217 {
            width: 277px; 
            top: 615px; 
            left: 340px; 
            background-color: transparent; 
            min-height: 160px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579791217 {
            top: 791px; 
            left: 10px; 
            width: 449px; 
            min-height: 56px; 
        }
        }.silex-id-1427579791116 {
            width: 277px; 
            top: 569px; 
            left: 657px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579791116 {
            top: 865px; 
            left: 10px; 
            width: 449px; 
            min-height: 50px; 
        }
        }.silex-id-1427579790505 {
            width: 920px; 
            top: 550px; 
            left: 24px; 
            background-color: rgb(255, 255, 255); 
            border-top-width: 1px; 
            border-bottom-width: 0px; 
            border-top-style: solid; 
            border-bottom-style: solid; 
            border-top-color: rgb(0, 155, 255); 
            border-bottom-color: rgb(0, 155, 255); 
            min-height: 10px; 
            border-color: #009bff; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579790505 {
            border-color: #009bff; 
        }
        }.silex-id-1427579787660 {
            width: 276px; 
            top: 615px; 
            left: 658px; 
            background-color: transparent; 
            min-height: 160px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579787660 {
            top: 1197px; 
            left: 10px; 
            width: 449px; 
            min-height: 93px; 
        }
        }.silex-id-1427579783690 {
            width: 920px; 
            left: 20px; 
            background-color: transparent; 
            border-top-width: 1px; 
            border-bottom-width: 0px; 
            border-top-style: solid; 
            border-bottom-style: solid; 
            top: 302px; 
            border-top-color: rgb(0, 155, 255); 
            border-right-color: rgb(0, 155, 255); 
            border-bottom-color: rgb(0, 155, 255); 
            border-left-color: rgb(0, 155, 255); 
            min-height: 13px; 
        }
        .silex-id-1427579786542 {
            width: 920px; 
            left: 20px; 
            background-color: transparent; 
            border-top-width: 1px; 
            border-bottom-width: 0px; 
            border-top-style: solid; 
            border-bottom-style: solid; 
            top: 14px; 
            border-top-color: rgb(0, 155, 255); 
            border-right-color: rgb(0, 155, 255); 
            border-bottom-color: rgb(0, 155, 255); 
            border-left-color: rgb(0, 155, 255); 
            min-height: 20px; 
            border-color: #009bff; 
        }
        .silex-id-1427603853102 {
            width: 960px; 
            top: 4858px; 
            left: 0px; 
            background-color: transparent; 
            min-height: 755px; 
        }
        .silex-id-1427579786440 {
            width: 290px; 
            top: 211px; 
            left: 335px; 
            background-color: rgb(255, 255, 255); 
            min-height: 495px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579786440 {
            top: 10px; 
            left: 10px; 
            width: 450px; 
            min-height: 500px; 
        }
        }.silex-id-1427579786338 {
            width: 290px; 
            top: 211px; 
            left: 27px; 
            background-color: rgb(255, 255, 255); 
            min-height: 495px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579786338 {
            top: 510px; 
            left: 10px; 
            width: 452px; 
            min-height: 500px; 
        }
        }.silex-id-1427579784708 {
            top: 11px; 
            background-color: transparent; 
            width: 960px; 
            left: 0px; 
            min-height: 124px; 
        }
        .silex-id-1427579784099 {
            width: 294px; 
            top: 144px; 
            left: 21px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579784099 {
            top: 1134px; 
            left: 10px; 
            width: 449px; 
            min-height: 80px; 
        }
        }.silex-id-1427579783996 {
            width: 294px; 
            top: 158px; 
            left: 640px; 
            background-color: transparent; 
            min-height: 61px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579783996 {
            top: 1214px; 
            left: 10px; 
            width: 449px; 
            min-height: 61px; 
        }
        }.silex-id-1427579783588 {
            width: 290px; 
            top: 211px; 
            left: 642px; 
            background-color: transparent; 
            min-height: 500px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579783588 {
            top: 1275px; 
            left: 10px; 
            width: 449px; 
            min-height: 500px; 
        }
        }.silex-id-1427579783487 {
            width: 294px; 
            top: 146px; 
            left: 332px; 
            background-color: transparent; 
            min-height: 80px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579783487 {
            top: 1775px; 
            left: 10px; 
            width: 449px; 
            min-height: 80px; 
        }
        }.silex-id-1456340720913-0 {
            width: 960px; 
            top: 1051px; 
            left: 5px; 
            background-color: transparent; 
            min-height: 266px; 
            border-color: #000000; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1456340720913-0 {
            top: 5681px; 
            left: 12px; 
            width: 422px; 
            min-height: 364px; 
        }
        }.silex-id-1427579784810 {
            width: 507px; 
            top: 44px; 
            left: 224px; 
            background-color: transparent; 
            min-height: 40px; 
            border-color: #000000; 
        }
        .silex-id-1447868061692-7 {
            width: 182px; 
            top: 99px; 
            left: 388px; 
            min-height: 51px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1447868061692-7 {
            top: 130px; 
            left: 61px; 
            width: 299px; 
            min-height: 83px; 
        }
        }.silex-id-1447867920942-4 {
            width: 176px; 
            top: 165px; 
            left: 244px; 
            min-height: 57px; 
        }
        .silex-id-1447867928480-5 {
            width: 188px; 
            top: 165px; 
            left: 499px; 
            min-height: 64px; 
        }
        .silex-id-1447868058113-6 {
            width: 124px; 
            top: 168px; 
            left: 41px; 
            min-height: 49px; 
        }
        .silex-id-1454959210068-1 {
            width: 157px; 
            top: 173px; 
            left: 757px; 
            min-height: 50px; 
        }
        .silex-id-1456673374542-16 {
            width: 920px; 
            top: 6px; 
            left: 18px; 
            background-color: rgb(255, 255, 255); 
            border-top-width: 1px; 
            border-bottom-width: 0px; 
            border-top-style: solid; 
            border-bottom-style: solid; 
            border-top-color: rgb(0, 155, 255); 
            border-bottom-color: rgb(0, 155, 255); 
            min-height: 20px; 
            border-color: #009bff; 
            border-width: 1px 0 0 0 ; 
            border-style: solid; 
        }
        .silex-id-1427579786237 {
            width: 960px; 
            top: 5651px; 
            left: 0px; 
            border-top-left-radius: 0px; 
            border-top-right-radius: 0px; 
            border-bottom-right-radius: 0px; 
            border-bottom-left-radius: 0px; 
            box-sizing: content-box; 
            background-color: rgb(0, 60, 100); 
            min-height: 630px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579786237 {
            top: 6064px; 
            left: 12px; 
            width: 422px; 
            min-height: 204px; 
        }
        }.silex-id-1427579784913 {
            width: 287px; 
            top: 63px; 
            left: 338px; 
            background-color: transparent; 
            min-height: 55px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579784913 {
            top: 71px; 
            left: 10px; 
            width: 469px; 
            min-height: 55px; 
        }
        }.silex-id-1427579786034 {
            width: 854px; 
            top: 352px; 
            left: 20px; 
            background-color: transparent; 
            min-height: 1170px; 
        }
        .silex-id-1427579785932 {
            width: 70px; 
            top: 127px; 
            left: 338px; 
            min-height: 70px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579785932 {
            top: 110px; 
            left: 9px; 
            width: 43px; 
            min-height: 45px; 
        }
        }.silex-id-1427579785830 {
            width: 70px; 
            top: 127px; 
            left: 248px; 
            min-height: 70px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579785830 {
            top: 110px; 
            left: 71px; 
            width: 44px; 
            min-height: 45px; 
        }
        }.silex-id-1427579785728 {
            width: 70px; 
            top: 127px; 
            left: 158px; 
            min-height: 70px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579785728 {
            top: 110px; 
            left: 133px; 
            width: 42px; 
            min-height: 45px; 
        }
        }.silex-id-1427579785625 {
            width: 70px; 
            top: 126px; 
            left: 428px; 
            min-height: 70px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579785625 {
            top: 110px; 
            left: 193px; 
            width: 41px; 
            min-height: 45px; 
        }
        }.silex-id-1427579785523 {
            width: 70px; 
            top: 125px; 
            left: 518px; 
            min-height: 70px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579785523 {
            top: 110px; 
            left: 253px; 
            width: 41px; 
            min-height: 45px; 
        }
        }.silex-id-1427579785421 {
            width: 70px; 
            top: 125px; 
            left: 608px; 
            min-height: 70px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579785421 {
            top: 110px; 
            left: 312px; 
            width: 42px; 
            min-height: 45px; 
        }
        }.silex-id-1427579785320 {
            width: 70px; 
            top: 125px; 
            left: 698px; 
            min-height: 70px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1427579785320 {
            top: 110px; 
            left: 372px; 
            width: 41px; 
            min-height: 45px; 
        }
        }.silex-id-1427579786135 {
            width: 920px; 
            top: 273px; 
            left: 20px; 
            background-color: transparent; 
            min-height: 45px; 
        }
        .silex-id-1458673239231-0 {
            width: 573px; 
            top: 62px; 
            left: 328px; 
            background-color: rgba(0,74,122,1); 
            border-width: 10px 10px 10px 10px; 
            border-style: solid; 
            min-height: 320px; 
        }
        .silex-id-1454367000274-2 {
            width: 149px; 
            top: 73px; 
            left: 1110px; 
            min-height: 149px; 
        }
    